[run]
branch = True
source = app
omit =
    */__init__.py
    */tests/*
    */migrations/*
    */alembic/*
    alembic.ini
    Dockerfile
    **/__pycache__/**

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":

[html]
directory = htmlcov

[xml]
output = coverage.xml
