venv/
.env
backend/__pycache__/
backend/migrations/
backend/alembic.ini
backend/user_management/__pycache__/
__pycache__/
*.pyc
*.pyo
migrations
.pyc

backend/.__pycache__/
.migrations/
alembic.ini
backend/main.py
.__pycache__/
